<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.11.0.js " | prepend: site.url }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js " | prepend: site.url }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/freelancer.js" | prepend: site.url }}"></script>
<script src="{{ "/js/graficos.js" | prepend: site.url }}"></script>
