<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.11.0.js " | prepend: site.url }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js " | prepend: site.url }}"></script>
<script src="{{ "/js/classie.js " | prepend: site.url }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js " | prepend: site.url }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ "/js/jqBootstrapValidation.js " | prepend: site.url }}"></script>


<!-- Custom Theme JavaScript -->
<script src="{{ "/js/freelancer.js" | prepend: site.url }}"></script>
<script>
  d3.timeFormatDefaultLocale({
    "dateTime": "%A, %e de %B de %Y, %X",
    "date": "%d/%m/%Y",
    "time": "%H:%M:%S",
    "periods": ["AM", "PM"],
    "days": ["domingo", "lunes", "martes", "miércoles", "jueves", "viernes", "sábado"],
    "shortDays": ["dom", "lun", "mar", "mié", "jue", "vie", "sáb"],
    "months": ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"],
    "shortMonths": ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
  });
</script>
<script src="{{ "/js/graficos.js" | prepend: site.url }}"></script>
