    <script src="{{ "/js/moment/moment.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/moment/locale/es.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/moment/locale/es.js" | prepend: site.url }}"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

    <script src="{{ "/js/buscador.js" | prepend: site.url }}"></script>
