<!-- Portfolio Modals -->
{% for product in site.products %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body product-{{ forloop.index }}">
            <h2>{{ product.title }}</h2>
            <hr class="star-primary">
            <img src="img/products/{{ product.img }}" class="img-responsive img-centered" alt="{{ product.alt }}">
            <p>{{ product.description }}</p>
            <ul class="list-inline item-details">
              <li><strong>{{ product.category }}</strong></li>
            </ul>
            <div class="chart chart-{{forloop.index}}"></div>
            <script>
            $(document).ready(function(){
              dibujaGrafico(".chart-{{forloop.index}}","{{site.url}}/data/producto/{{product.img | replace: '.png','' }}/production/grafico.csv");
            });
            </script>

            <a class="btn btn-default" href="{{ product.url | prepend: site.url }}"><i class="fa fa-info"></i> Detalles</a>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
