<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <ul class="month-filter">
        {% assign currentMonth = 'now' | date: "%_m" | plus: 0%}
        {% assign months_c = "Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre" | split: ',' %}
        {% for month in months_c %}
          {% assign current = '' %}
          {% if forloop.index == currentMonth %}
            {% assign current = 'active' %}
          {% endif%}
          <li>
            <span class="desktop text-center month {{current}}" data-month="{{month | slice: 0,3}}">{{month}}</span>
            <span class="mobile text-center month {{current}}" data-month="{{month | slice: 0,3}}">{{month | slice: 0,3}}</span>
          </li>
          {% endfor %}
      </ul>
    </div>
    <div class="row product-filter">
      <div class="col-lg-3">
        <form>
          <select placeholder="Filtrar por producto" class="form-control">
              <option></option>
            {% for product in site.products %}
              <option value="{{forloop.index}}">{{product.title}}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
    <div class="grid row">
      <div class="portfolio-item col-sm-12 col-xs-12 section-label section-fuera-temporada">
        <h3>FUERA DE TEMPORADA</h3>
        <span class="id">0</span>
        <span class="temporada">4</span>
      </div>
      {% for product in site.products %}
      <!-- col-sm-2 col-xs-4  -->
      <div class="portfolio-item col-sm-2 col-xs-4 product-{{ forloop.index }}">
        <!--<a href="#portfolioModal-{{ forloop.index }}" class="portfolio-link" data-toggle="modal">-->
        <a href="{{ product.url | prepend: site.url }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
            </div>
          </div>
          <img src="img/products/{{ product.img }}" class="img-responsive" alt="{{ product.alt }}">
          <i class="fa icon-temporada"></i> <span class="product-title">{{product.title}}</span>
        </a>

        <span class="id">{{forloop.index}}</span>
        <span class="temporada">{{forloop.index}}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
