// General site configurations

$color-primary: #FAFAFA;
$color-primary-complement: #3F3F3F;
$color-primary-rgb: "147,73,28";
$color-secondary: #3F3F3F;
$color-secondary-dark: #233140;
$color-highlight: #CA7947;
$color-in-season: #89BC10;
$color-start-season: #C1DA84;

$brand-success: $color-primary;
$navbar-inverse-link-hover-color: $color-primary-complement;
