.chart {
  div {
    font: 14px sans-serif;
    background-color: $color-highlight;
    /* color barra */
    text-align: right;
    padding: 0px;
    /*define ancho de la barra */

    /* separación entre barras */
    color: rgba(0, 0, 0, 0);
    font-weight: lighter;
    font-family: 'Roboto';
  }

    div.bar-graph{
        display: inline-block;
        height: 40px;
        overflow: hidden;
        margin:0px;
        margin-right:2px;
    }
    div.graph-text{
        color:black;
        background-color: white;
        display: inline-block;
        margin:0px;
        margin-right:2px;
        text-align: center;
        font-size:12px;
        vertical-align: top;
        padding:0px;
    }
}

.axis { font: 14px sans-serif; }

.line {
  fill: none;

  stroke-width: 2px;
}
.line.export{
    stroke: #86af38;
}
.line.import{
    stroke: #2d4e84;
}
.dotImport{
    fill:#FAFAFA;
    stroke:#2d4e84
}
.textImport{
    fill: #2d4e84;
    font-weight: bold;
}

.dotExport{
    fill:#FAFAFA;
    stroke:#86af38
}
.textExport{
    fill: #86af38;
    font-weight: bold;
}
.d3-tooltip{
    display: none;
    background-color:#333;
    color:white;
    position:absolute;

    z-index: 1000;
    padding:5px;
    border-radius: 4px;
}
.loader{
  display: block;
  text-align: center;
}
.grid{
  display: none;
}
