{% assign lang_suffix = '' %}
{% if site.lang != 'es' %}
  {% assign lang_suffix = "_" | append: site.lang %}
{% endif %}
{% assign name_key = "name" | append: lang_suffix %}
{% assign description_key = "description" | append: lang_suffix %}

<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav-page.html %}
  {% assign product_id = page.id | replace: '/products/',''%}
  {% assign product_data = site.data.products[product_id] %}
  <!-- Header -->
  {% assign cabezote = "/img/products/cabezotes/" | append: product_data.img | replace: 'png', 'jpg' %}
  <header id="product-header-{{page.index}}" style="background-image:url('{{ cabezote | prepend: site.url }}')">
    <div class="container">
      <div class="row ">
        <div class="col-lg-12 text-center">
          <h1>{{product_data[name_key]}}</h1>
        </div>
      </div>
    </div>
  </header>
  <section id="product-page">
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="{% tl home %}">{% t global.menu.buscador %}</a></li>
          <li class="active">{{product_data[name_key]}}</li>
        </ol>
        <ul class="month-filter">
          {% assign months_c = site.translations[site.lang]['home']['months'] | split: ',' %}
          {% assign months_b = site.translations['es']['home']['months'] | split: ',' %}
          {% for month in months_c %}
            <li>
              <span class="desktop text-center month" data-month="{{months_b[forloop.index0] | slice: 0,3}}">{{month}}</span>
              <span class="mobile text-center month" data-month="{{months_b[forloop.index0] | slice: 0,3}}">{{month | slice: 0,3}}</span>
            </li>
            {% endfor %}
        </ul>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{%t product.pocas_palabras %}</h3>
            </div>
            <div class="panel-body">
              {{product_data[description_key]}}
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{%t product.tiempo_cultivo %}</h3>
            </div>
            <div class="panel-body">
              <div class="tiempo-cultivo" data-time="{{product_data.time}}"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{% t product.top_3 %}</h3>
            </div>
            <div class="panel-body">
              <div class="chart"></div>
              <small class="source">{% t product.fuente_top %}</small>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{% t product.importa_exporta %}</h3>
            </div>
            <div class="panel-body">
              <div class="import-export"></div>
              <small class="source">{% t product.fuente_importa_exporta %}</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  {% include footer.html %} {% include js.html %}
  <script>
  $(document).ready(function(){
    graphProduction(".chart","{{site.url}}/data/products/{{product_id}}/production/grafico.csv");
    graphImportExport(".import-export","{{site.url}}/data/products/{{product_id}}/{{product_id}}_import_export_mes.csv");
    graphProductionTime(".tiempo-cultivo");
    updateCalendar("{{product_id }}","{{site.url}}");
});
  </script>
</body>

</html>
