<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav-page.html %}
  <!-- Header -->
  {% assign cabezote = "/img/products/cabezotes/" | append: page.img | replace: 'png', 'jpg' %}
  <header id="product-header-{{page.index}}" style="background-image:url('{{ cabezote | prepend: site.url }}')">
    <div class="container">
      <div class="row ">
        <div class="col-lg-12 text-center">
          <h1>{{page.title}}</h1>
        </div>
      </div>
    </div>
  </header>
  <section id="product-page">
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="{{site.url}}">Buscador</a></li>
          <li class="active">{{page.title}}</li>
        </ol>
        <ul class="month-filter">
          {% assign currentMonth = 'now' | date: "%_m" | plus: 0%}
          {% assign months_c = "Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre" | split: ',' %}
          {% for month in months_c %}
            {% assign current = '' %}
            {% if forloop.index == currentMonth %}
              {% assign current = 'active' %}
            {% endif%}
            <li>
              <span class="desktop text-center month {{current}}" data-month="{{month | slice: 0,3}}">{{month}}</span>
              <span class="mobile text-center month {{current}}" data-month="{{month | slice: 0,3}}">{{month | slice: 0,3}}</span>
            </li>
            {% endfor %}
        </ul>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">En pocas palabras</h3>
            </div>
            <div class="panel-body">
              {{page.descripcion}}
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Tiempo de cultivo</h3>
            </div>
            <div class="panel-body">
              <div class="tiempo-cultivo"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Top 3 de las provincias productoras</h3>
            </div>
            <div class="panel-body">
              <div class="chart"></div>
              <small class="fuente">Fuente: Ministerio de Agricultura (2015). Anuario de Estadística.</small>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">¿Cuánto se importa, cuánto se exporta?</h3>
            </div>
            <div class="panel-body">
              <div class="import-export"></div>
              <small class="fuente">Fuente: Ministerio de Economía (2015). Incluye producción en invernaderos.</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  {% include footer.html %} {% include js.html %}
  <script>
  $(document).ready(function(){
    {% assign product_name = page.img | replace: '.png','' %}
    dibujaGrafico(".chart","{{site.url}}/data/producto/{{product_name}}/production/grafico.csv");
    graficaImportExport(".import-export","{{site.url}}/data/producto/{{product_name}}/{{product_name}}_import_export_mes.csv");
    updateCalendario("{{page.title | downcase }}","{{site.url}}");
    tiempoCultivo("{{product_name}}",".tiempo-cultivo","{{site.url}}/data/meses-cultivo.csv");
});
  </script>
</body>

</html>
